<button (click)="showForm()">Show SignInForm</button><br>
<form [formGroup]="SignInForm" *ngIf="showSignInForm">
password : <input [type]="showPassword ? 'text' :'password' "
formcontrolName="password" (keyup)="password()">
<button (click)="showPass()">Show</button><br>
<span *ngIf="!isMatch && SignInForm.get('password')?.dirty" class="err">
    password and Confirm password should be same
</span><br>
Confirm Password : <input type="text" formcontrolName="confirmpassword" (keyup)="confirmpassword()">
<span *ngIf="!isMatch && SignInForm.get('confirmpassword')?.dirty" class="err">
    password and Confirm password should be same
</span><br>
<label>Name</label>
<input type="text" formcontrolName="name"><br>
<!----copy- copy------->
<span *ngIf="SignInForm.get('name')?.errors?.['Err']" class="err">
    Name should not conatin copy word</span>
<span class="err" *ngIf="SignInForm.get('name')?.errors?.['whitespace']">
    Name should not contain whitespaces
</span>




</form>

