
.container{

    background-color: rgb(241, 178, 226);
    height: 1000px;
    width: 100%;
    text-align: center;
}
.heading1{
    text-align: center;
}
.button{
    background-color: rgb(76, 220, 76);
    size: 1px;
    text-align: end;
}
.login{
    text-align: center;
    margin:auto;
    height: 400px;
    width: 300px;
padding: 6px 7px;
border: 1px solid black;
background-color: rgb(193, 236, 221);
}
.tex{
    font-size: 20px;
    padding: 5px;
    margin-top: 10px;
    width: 200px;

}
.pass{
    font-size: 20px;
    padding: 5px;
    position: relative;
    top: 15px;
}
.int-text{
    width: 200px;
}
.btn-sub{
    background-color: rgb(236, 125, 78);

}
.center{
    text-align: center;
}
.span-err{
    color: red;
    font-size: medium;
    position: relative;
}