
<div class="signup"><h2>Sign Up</h2>
 <button  class="sub-mit" routerLink="/landing"><u>Back</u></button>
 <br><br>

 <div class="reactive">
<form  [formGroup]="signUpForm!">
    <br>
<label class="text">FullName : </label><br>
<input class="text" type="text" formControlName="fullname" ><br>
<span class="err" *ngIf="signUpForm.get('fullname')?.errors?.['required'] && signUpForm.get('fullname')?.touched">fullName is required</span>
<span class="err" *ngIf="signUpForm.get('fullname')?.errors?.['pattern']">Please Enter valid fullName</span>
<span class="err" *ngIf="signUpForm.get('fullname')?.errors?.['minlength'] && !signUpForm.get('fullname')?.errors?.['pattern']">fullName should be 15 Alphbate</span>
<label class="texr">Mob No</label><br>
<input class="text" type="text" formControlName="mobilenumber"><br>
<span class="err" *ngIf="signUpForm.get('mobilenumber')?.errors?.['required'] && signUpForm.get('mobilenumber')?.touched">Mobile Number is required</span>

<label class="text">Email : </label><br>
<input  class="text"  type="text" formControlName="email"><br>

<label class="text">Contact : </label><br>
<input class="text" type="text" formControlName="contact"><br>
<label class="text">Address : </label><br>
<input class="text" type="text" formControlName="address"><br>
<label >Gender : </label><br>
<input type="radio" formControlName="gender" value="male">Male
<input type="radio" formControlName="gender" value="Female">Female
<input type="radio" formControlName="gender" value="other">other
<button [disabled]=!signUpForm.valid (click)="submit() " class="sub-mit" ><u>SUBMIT</u></button>
</form>
 </div>
</div>