 
<div class="signup"><h2>Sign Up</h2>
 <button  class="sub-mit" routerLink="/landing"><u>Back</u></button>
 <br><br>

 <div class="reactive">
<form  [formGroup]="signUpForm!">
<label class="text">FullName : </label><br>
<input class="text" type="text" formControlName="fullname" ><br>
<span class="err" *ngIf="signUpForm.get('fullname')?.errors?.['required'] && signUpForm.get('fullname')?.touched">fullName is required</span>
<span class="err" *ngIf="signUpForm.get('fullname')?.errors?.['pattern']">Please Enter valid fullName</span>
<span class="err" *ngIf="signUpForm.get('fullname')?.errors?.['minlength'] && !signUpForm.get('fullname')?.errors?.['pattern']">fullName should be 15 Alphbate</span>
<label class="text">Mobile No : </label><br>
<input class="text" type="text" formControlName="mobilenumber"><br>

<span class="err" *ngIf="signUpForm.get('mobilenumber')?.errors?.['required'] && signUpForm.get('mobilenumber')?.touched">Mobile number is required</span>
<span class="err" *ngIf="signUpForm.get('mobilenumber')?.errors?.['pattern'] && signUpForm.get('mobilenumber')?.touched">Mobile number should in integer</span>
<span class="err" *ngIf="signUpForm.get('mobilenumber')?.errors?.['minlength'] && !signUpForm.get('mobilenumber')?.errors?.['pattern']">Enter only 10 digit</span>
<span class="err" *ngIf="signUpForm.get('mobilenumber')?.errors?.['maxlength']">minimum 10 digit</span>
<label class="text">Email : </label><br>
<input  class="text" type="text" formControlName="email"><br>
<span class="err" *ngIf="signUpForm.get('email')?.errors?.['required'] && signUpForm.get('email')?.touched">Email is required</span>
<label class="text">Address : </label><br>
<input class="text" type="text" formControlName="address"><br>
<span class="err" *ngIf="signUpForm.get('address')?.errors?.['required'] && signUpForm.get('address')?.touched">Address is required</span>
<label >Gender : </label><br>
<input type="radio"  value="male" formControlName="gender" >Male
<input type="radio" value="Female"  formControlName="gender">Female
<input type="radio" value="other" formControlName="gender" >other

<button [disabled]=!signUpForm.valid (click)="submit()" class="sub-mit"><u>SUBMIT</u></button>
</form>
 </div></div>