.signup{
    background-color: rgb(192, 233, 245);
    height: 1000px;
    width: 100%;
    text-align: center;


}
.button{
    background-color: rgb(76, 220, 76);
    size: 1px;
}
.text{
    font-size: 20px;
    padding: 2px;
width: 300px;
margin-top: 10px;

}
.sub-mit{
    background-color:rgb(76, 220, 76);
    text-align: center;
}
.reactive{
    border: 2px solid black;
    height: 400px;
    width: 500px;
text-align: center;
   background-color: rgb(227, 206, 237);

}
.err{
    color: red;
    font-size:large ;
   
}