.style{
    color:  red;
}

.table {
    border-collapse: collapse;
    width: 50%;
    background-color: yellow;
    text-align: center;
  }

  .table,td, th {
    border: 1px solid rgb(232, 14, 14);

  }
  
   
