<div class="parent">
<h1 *ngIf="!userName"> Welcome to Angular </h1>
<h2 *ngIf="userName"> Welcome {{userName}} </h2>
<button class="button" (click)="login()"><b>Login</b></button> &nbsp;
<button class="button" (click)="signup()"><b>Signup</b></button> &nbsp;
<button class="button" (click)="studentactivity()"><b>Studentactivity</b></button> &nbsp;
<button class="button" (click)="studentdemo()"><b>Studentdemo</b></button> &nbsp;
<button class="button" (click)="directive()"><b>Directives</b></button> &nbsp;
<button class="button" (click)="lifecycle()"><b>LifecycleHooks</b></button>


<div>{{list}}</div>

<div *ngIf="studentData">{{studentData.name}}</div>

<div *ngIf="studentData">{{studentData.city}}</div>

<div *ngIf="studentData">{{studentData.phone}}</div>
<div *ngIf="studentData">{{studentData.status}}</div>

</div>
