.parent{
    background-color: antiquewhite;
    height: 1000px;
    width: 100%;
    text-align: center;
}
.heading{
    text-align: center;
    color: black;
}
.button{
    background-color: rgb(76, 220, 76);
    size: 1px;
}